@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --bg-soft: #313131;
  --text: #ffffff;
  --text-soft: #eeeeee;
  --bg-btn: #4e2875;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #0F0F55;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
